$cardBlack: #111124;

.eumotm {
	color: #003482;
	.player-name {
		color: #e6e6e6;
	}
}

.fof {
	color: #201d55;
	.player-name {
		color: #fff;
	}
}

.fut-birthday {
	color: #33558d;
}

.futmas {
	color: #fff;
}

.green {
	.sidebar {
		color: #1b6b34;
	}
	color: #fff;
}

.hero {
	color: #d4c0fc;
	.sidebar {
		color: #111124;
	}
}

.if-gold {
	color: #e1c775;
	.sidebar {
		color: #1e1d1a;
	}
}

.if-silver {
	color: #cdd9e1;
	.sidebar {
		color: #1e1d1a;
	}
}

.motm {
	color: #ffe2ca;
	.sidebar {
		color: #381a01;
	}
}

.otw {
	color: #d5b43a;
}

.potm {
	color: #f1dd7c;
	.sidebar {
		color: #111124;
	}
}

.ptg, .ptgs {
	color: #fff;
	.sidebar {
		color: #201d55;
	}
}

.rare-bronze {
	color: #462c17;
}

.rare-gold {
	color: #2b180c;
}

.rare-silver {
	color: #252629;
}

.rb {
	color: #eaedf4;
}

.sbc {
	color: #fff;
}

.scream {
	color: #ff6f09;
	.player-name {
		color: #000;
	}
}

.swap {
	.sidebar {
		color: #c0ff36;
	}
	.textbox {
		color: #fff;
	}
	.player-name {
		color: #201c55;
	}
}

.totgs {
	color: #201c55;
	.sidebar {
		color: #111124;
	}
}

.totks {
	color: #201c55;
	.sidebar {
		color: #111124;
	}
}

.tots-bronze {
	color: #e4b17f;
	.sidebar {
		color: #4d331f;
	}
}

.tots-gold {
	color: #4d331f;
	.sidebar {
		color: #ff99ed;
	}
}

.toty {
	color: #d0b361;
	.textbox {
		color: #fff;
	}
}
