@font-face {
	font-family: "Roboto";
	src: url(./../fonts/roboto-v18-latin-regular.woff2) format("woff2"),
	url(./../fonts/roboto-v18-latin-regular.woff) format("woff");
}

button.submit:hover {
	box-shadow: 2px 4px 2px 2px navy;
	font-size: 110%;
}

textarea {
	resize: none;
	overflow: auto;
	width: 97%;
	height: 95%;
	font-family: Segoe UI;
	font-size: 80%;
}

ol {
	position: relative;
	right: 8px;
}

ol li {
	margin: 4px 0px 4px 0px;
}

ol li * {
	margin: 0px 4px 0px 4px; /* Separate each element inside the <li>s so they still look good */
}

.conditions-summary {
	width: 261px;
	display: inline-block;
	height: 163px;
}

.extra-width {
	width: 101%;
}

.formation-picker {
	width: 111px;
}

.full-width {
	width: 99%;
}

.hoisted {
	margin-top: -470px; /* Hoist the footer up top to fill the blank left by the overlay div */
}

.horizontal div {
	float: left;
}

.sbc-conditions {
	width: 411px;
	display: inline-block;
}

.welcome {
	position: relative;
	z-index: 1;
	background-color: white;
	top: -86%;
	height: 450px;
	color: navy;
	font-family: Roboto;
	width: 693px;
	left: 25%;
	padding: 10px;
}

.welcome-header {
	position: relative;
	top: 1%;
	left: 2%;
	font-size: 230%;
	margin: 1% 0% 3% 0%;
}

.welcome-message {
	position: relative;
	top: -2%;
	font-size: 110%;
	margin: 2% 0% 5% 0%;
	left: 1%;
}
